@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
.heroBg {
  background-image: url("assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 4rem;
}
